body {
  /* background-color: #000d61; */
  /* background-color: #020c4d; */
  /* background-color: #010940; */
  /* background-color: #00062b; */
  /* background-color: #B3DCFF; */
  background: rgb(2,0,36);
  background: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgba(9,107,121,1) 53%, rgba(0,159,255,1) 100%); 
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  font-family: "IBM Plex Mono", monospace;
}
html{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.anchor {
  display: block;
  height:136px;
  margin-top:-136px;
  visibility: hidden;
}
/* ----------NAVBAR----------- */
.nav-link {
  padding: 0 1rem !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
.nav-link:hover{
  color: #00baf1 !important;
}

.show , .collapsing{
  height: 80vh !important;
  background-color: black;
  transition: all 0.2s ease-in-out;
}
/* .navbar-collapse{
  transition: height 0.2s ease-out;
} */
.navbar-toggler:focus, button:focus{
  outline: none !important;
}
.navbar-toggler{
  border: none;
}
/* -----------------Button animation css-------------- */
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #B6B6B6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

#notes, #judge {
  background-image: none;
}


.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* ------------HERO---------- */

/* ----sphere canvas----- */
#nCanvasRender {
  position: absolute;
  top: 0;
  z-index: 0;
  /* height: auto; */
  /* max-width: 100% !important; */
}

.header {
  margin-top: -10vh;
  height: 90vh !important;
}
.headline {
  z-index: 2000 !important;
  text-align: center;
}

.headline p{
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.5em;
  margin-bottom: 0 !important;
}

.headline h1 {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0.75rem auto;
  letter-spacing: 0.15em;
  animation: typing 4s steps(30), blink-caret 1s infinite;
}

.headline h4 {
  color: #ecd92c;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #00baf1;
  }
}

.headline span {
  font-weight: bold;
  color: #00baf1;
}

/* -----------ANIM.js-------- */
.anim, .anim svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 71%;
}

.anim path {
  stroke-width: 2;
}

/* -----------PROBLEM STATEMENT-------- */

.problem-content {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  
  
}
.problem-content h5 {
  color: #351866;
  margin: 2rem 0;
  font-weight: 500;
  text-align: center;
}

.problem-content h6{
  text-align: left;
  padding: 0.5rem 0;
}

.problem-content p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 0.875rem;
}

/* ------------PRIZES--------- */
.prizes, .schedule{
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.prizes .col-lg-3 {
  border: 3px solid white;
}

.prizes p{
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.25rem 0;
}

.register h4, .register h5 {
  font-weight:300;
}
.header h5{
  color: #00baf1;
}
/* .p-2 {
  padding: 2rem !important;
} */



::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ecd92c;
  border-radius: 10px;
}
::scrollbar-thumb{
  background: #ecd92c;
  border-radius: 10px;
}


.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 0;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display:inline-block;
  
  text-align: center;
}

.flag {

  position: relative;
  display: block;
  background: #1A1C1D;
  padding: 6px 10px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 65%;
  right: -36px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -36px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: #1A1C1D;
}

.desc {
  margin: 1em 0.75em 0 0;
  /* color: black; */
  font-size: 0.77777em;

  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

.register a {
  color: #351866 !important;
}

.btn-primary {
  background-color: #00b9f100 !important;
  border-color: #351866 !important;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
    width: 100%;
    padding: 4em 0 1em 0;
}

.timeline li {
    padding: 2em 0;
}

.direction-l,
.direction-r {
    float: none;
    width: 100%;

    text-align: center;
}

.flag-wrapper {
    text-align: center;
}

.flag {
    z-index: 15;
    text-align: center;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
    left: 52%;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255,80,80);
    z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    /* background: rgb(245,245,245); */
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
    
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    
  z-index: 15;
}

}

@media screen and (min-width: 400px) and (max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
    margin: 1em 4em 0 4em;
}

}




/* -----------------MEDIA QUERY---------- */
@media only screen and (max-width: 768px) {
  body, html{
    overflow-x: hidden !important;
  }
  ::-webkit-scrollbar {
    display: none;
  }

 /* ---------NAV------- */

  .navbar-nav {
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgba(9,107,121,1) 99%, rgba(0,236,255,1) 99%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-item{
    padding: 1rem 0 !important;
  }
  /* ------------HERO---------- */
  .headline p{
    font-size: 1.5rem;
    letter-spacing: 0.3em;
    margin-bottom: 0 !important;
    font-weight: bold;
  }
  .headline h1 {
    font-size: 1rem;
    letter-spacing: 0.05em;
  }
  
  .headline h4{
    font-size: 1rem;
  }
  .headline h5 {
    font-size: 0.9rem;
  }
  .problem-content h5 {
    font-size: 1rem;
  }
  h3{
    font-size: 1.3rem;
  }
  h4{
    font-size: 1rem;
  }
  /* .problem-content p {
   font-size: 0.75rem;
  } */
  .problem-content h1, .prizes h1, #schedule h1, #register h1,#slidelink h1{
    font-size: 1.325rem;
  }
  .prizes p{
    font-size: 0.75rem;
  }
  .prizes h5, #register h5, #register h4{
    font-size: 1rem;
  }
  .prizes img {
    max-width: 60px;
    height: auto;
  }
  .prizes .col-lg-3 {
    border: none;
    
  }
  #csilogo{
    width: 189px;
    height: 189px;
  }
  /* #raitlogo{
    height: 150px!important;
    width: 225px!important;
    padding: 4rem !important;
  } */
}
#raitlogo{
  height: 200px;
}
